{% extends "::base.html.twig" %} 

{% block title %}Simples Blog{% endblock %} 

{% block body %}
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    
{% endblock %}