{% extends "::base.html.twig" %} 

{% block title %}Página Inicial{% endblock %} 

{% block header %}
    <h1 class="page-header">
        Página Inicial <small></small>
    </h1>
{% endblock %}

{% block body %}
    
{% endblock %}