body {
    background-image: url(../images/background-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #eee;
}
.header {
    background-color: #ffffff;
}
.navbar-brand {
    padding: 0px;
}

#logo {
    width: 230px;  
    height: 50px;
    left: 50%;
    margin-left: -100px; /* A metade de sua largura. */
    position: absolute;
    width: 200px; 
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../images/background-photo-mobile-devices.jpg);
    }
    #logo {
        width: 230px;  
        height: 50px;
    }
}