{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="page-header">
        Usuários <small>Alterar informações do usuário no sistema</small>
    </h1>
{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
    <div class="col-sm-offset-4 col-sm-4">
        <div class="form-group">
            {{ form_widget(edit_form) }}
            <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-default" style="margin-top: 20px">
                Voltar
            </a>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Salvar</button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
