{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="page-header">
        Usuários <small>Inserir novo usuário no sistema</small>
    </h1>
{% endblock %}

{% block body %}<br/>
    {{ form_start(form) }}

    <div class="col-sm-offset-4 col-sm-4">
        <div class="form-group">
            {{ form_widget(form) }}
            <a href="{{ path('user_index') }}" class="btn btn-default" style="margin-top: 20px">
                Voltar
            </a>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px">Criar</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
