{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="page-header">
        Usuários <small>Informações do usuário no sistema</small>
    </h1>
{% endblock %}

{% block body %}
    <div class="col-sm-8 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Usuário</h3>
                <a class="btn btn-primary btn-xs" href="{{ path('user_edit', { 'id': user.id }) }}" style="float:right; margin-top: -20px">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="" class="btn btn-warning btn-xs" style="float:right; margin-top: -20px">
                    Ativo/Inativo
                </a>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <td colspan="3">{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ user.name }}</td>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </table><br/>
            </div>
        </div>
    </div>
{% endblock %}
